.header-top__container {
  display: flex;
  height: 67px;
  align-items: center;
}
.header-top .menu__btn {
  position: relative;
  width: 37px;
  height: 26px;
  border: none;
  background-color: transparent;
  display: none;
}
.header-top .menu__btn span {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #1FA181;
  left: 0;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}
.header-top .menu__btn span:nth-child(1) {
  transform: translateY(-13px);
}
.header-top .menu__btn span:nth-child(3) {
  transform: translateY(13px);
}
.header-top .menu__btn.active span:nth-child(1) {
  transform: translateY(0) rotate(-45deg);
}
.header-top .menu__btn.active span:nth-child(2) {
  opacity: 0;
}
.header-top .menu__btn.active span:nth-child(3) {
  transform: translateY(0) rotate(45deg);
}
.header-top .map {
  margin-left: 43px;
  width: 120px;
  font-size: 14px;
  position: relative;
}
.header-top .map::before {
  content: "";
  background-image: url(../images/point.svg);
  left: -23px;
  top: 10px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.header-top .map__adress {
  color: #000;
}
.header-top .map__adress span {
  color: #868686;
}
.header-top .whatsapp {
  margin-left: 500px;
  position: relative;
}
.header-top .whatsapp::before {
  content: "";
  background-image: url(../images/whatsapp.svg);
  position: absolute;
  left: -37px;
  top: -2px;
  width: 28px;
  height: 28px;
}
.header-top .whatsapp__number {
  color: #000;
}
.header-top .whatsapp p {
  display: none;
}
.header-top .header-top__btn {
  margin-left: 35px;
  color: #fff;
  background: #0DBC91;
}
.header-top .header-top__btn:hover {
  background: #00D29F;
}

@media (max-width: 1200px) {
  .header-top__container {
    justify-content: space-between;
  }
  .header-top .map {
    margin-left: 0;
  }
  .header-top .whatsapp {
    margin-left: 0;
  }
  .header-top .header-top__btn {
    margin-left: 0;
  }
}
@media (max-width: 780px) {
  .header-top {
    background: #F6F6F6;
  }
  .header-top .logo {
    width: 62px;
    height: 19px;
  }
  .header-top .menu__btn {
    display: block;
  }
  .header-top__btn {
    display: none;
  }
}
@media (max-width: 570px) {
  .header-top .map {
    display: none;
  }
  .header-top .whatsapp {
    text-align: right;
  }
  .header-top .whatsapp::before {
    display: none;
  }
  .header-top .whatsapp p {
    display: block;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
  }
  .header-top .whatsapp__number {
    font-size: 16px;
    font-weight: 700;
  }
}
.header-bottom {
  height: 43px;
  background: #0DBC91;
}
.header-bottom .nav .menu {
  display: flex;
  padding-top: 10px;
  gap: 30px;
  list-style: none;
}
.header-bottom .nav .menu__item {
  color: #fff;
}
.header-bottom__btn {
  color: #0DBC91;
  background: #fff;
  width: 197px;
  display: none;
}
.header-bottom__btn:hover {
  background: #0DBC91;
  color: #FFFFFF;
}

@media (max-width: 1200px) {
  .header-bottom .nav .menu {
    justify-content: center;
    gap: 60px;
  }
}
@media (max-width: 780px) {
  .header-bottom {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: rgba(69, 146, 127, 0.9);
    padding: 48px 0px;
    transform: translateX(-100%);
    transition: transform 1s;
  }
  .header-bottom__container {
    padding-top: 60px;
  }
  .header-bottom .nav .menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
  }
  .header-bottom.open {
    transform: translateX(0%);
  }
  .header-bottom__btn {
    display: block;
    font-size: 20px;
  }
}
.promo {
  background: #F8FBFA;
  margin-bottom: 100px;
}
.promo__container {
  display: flex;
}
.promo__info {
  color: #364844;
  width: 375px;
  height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.promo__title {
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 36px;
  font-weight: 700;
}
.promo__discription {
  margin: 0;
}
.promo__bottom-img {
  position: relative;
}
.promo__bottom-img img {
  position: absolute;
  top: 0;
  left: 197px;
}

@media (max-width: 1200px) {
  .promo__info {
    height: 409px;
  }
  .promo__bottom-img img {
    left: 105px;
    width: 730px;
  }
}
@media (max-width: 1070px) {
  .promo__info {
    height: 297px;
  }
  .promo__bottom-img img {
    left: 105px;
    width: 530px;
  }
}
@media (max-width: 960px) {
  .promo__bottom-img img {
    left: 55px;
  }
}
@media (max-width: 780px) {
  .promo {
    margin-bottom: 50px;
  }
  .promo__container {
    flex-direction: column-reverse;
  }
  .promo__info {
    height: 297px;
    margin-top: 435px;
  }
  .promo__bottom-img img {
    left: -15px;
    width: 110%;
  }
}
@media (max-width: 570px) {
  .promo__info {
    margin-top: 310px;
  }
}
@media (max-width: 450px) {
  .promo__info {
    margin-top: 210px;
    width: 324px;
  }
  .promo__title {
    font-size: 26px;
  }
  .promo__discription {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .promo__info {
    margin-top: 250px;
  }
  .promo__bottom-img img {
    height: 288px;
  }
}
.slider__container {
  width: 1140px;
  height: 440px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0px 5px 5px 0px;
}
.slider__items {
  width: 4560px;
  height: 440px;
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}
.slider__item {
  width: 1140px;
  height: 440px;
  display: flex;
  position: relative;
  left: -15px;
}
.slider .service {
  min-width: 613px;
  background: #E2F0EF;
  color: #364844;
  position: relative;
  left: 0;
  top: 0;
  padding-top: 53px;
  padding-left: 63px;
  border-radius: 5px 0px 0px 5px;
}
.slider .service__name {
  font-weight: 700;
  font-size: 38px;
  line-height: 1.4;
  text-transform: uppercase;
  margin: 0;
}
.slider .service__for-whom {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.4;
  margin: 0;
  padding-bottom: 16px;
}
.slider .service .list-options {
  font-size: 16px;
  line-height: 1.4;
  padding-left: 15px;
}
.slider .service .list-options__name:not(:last-child) {
  margin-bottom: 3px;
}
.slider .service .list-options__name::marker {
  color: #1FA181;
}
.slider .service__price {
  font-size: 20px;
  padding: 33px 0px 26px 0px;
  margin: 0;
}
.slider .service__price span {
  font-size: 16px;
  line-height: 1.5;
  color: #868686;
  padding-left: 16px;
  text-decoration: line-through;
}
.slider .service__btns {
  margin-top: 10px;
}
.slider .service__btns a {
  padding: 11px 58px;
  border: 1px solid #0DBC91;
  border-radius: 50px;
}
.slider .service__btns .btns__registr {
  background: #0DBC91;
  color: #fff;
  cursor: pointer;
}
.slider .service__btns .btns__registr:hover {
  background: #00D29F;
}
.slider .service__btns .btns__detailed {
  color: #0DBC91;
  cursor: pointer;
  margin-left: 14px;
}
.slider .service__btns .btns__detailed:hover {
  background: #0DBC91;
  color: #fff;
}
.slider__img {
  position: relative;
  left: -165px;
  -webkit-clip-path: polygon(47px 0, 100% 0, 100% 100%, 165px 100%);
  clip-path: polygon(47px 0, 100% 0, 100% 100%, 165px 100%);
}
.slider__btn {
  display: flex;
  justify-content: center;
  gap: 36px;
  margin-top: 39px;
  margin-bottom: 98px;
}
.slider__next, .slider__prev {
  cursor: pointer;
  position: relative;
  height: 17px;
  top: -9px;
}
.slider__next svg:hover, .slider__prev svg:hover {
  fill: rgb(69, 146, 127);
}
.slider__division {
  margin: 0;
  color: #C0C0C0;
}
.slider__amount-item {
  color: #000;
}

@media (max-width: 1200px) {
  .slider__container {
    width: 740px;
    height: 640px;
  }
  .slider__items {
    width: 3020px;
    height: 640px;
  }
  .slider__item {
    width: 740px;
    height: 640px;
  }
  .slider .service {
    padding-top: 120px;
  }
  .slider .service__btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .slider .service__btns .btns__registr, .slider .service__btns .btns__detailed {
    width: 207px;
  }
  .slider .service__btns .btns__detailed {
    margin-left: 0;
  }
  .slider__img {
    left: -880px;
    -webkit-clip-path: polygon(658px 0, 100% 0, 100% 100%, 804px 100%);
    clip-path: polygon(658px 0, 100% 0, 100% 100%, 804px 100%);
  }
}
@media (max-width: 780px) {
  .slider__container {
    width: 460px;
    height: 600px;
  }
  .slider__items {
    width: 1840px;
    height: 600px;
  }
  .slider__item {
    width: 460px;
    height: 600px;
  }
  .slider .service {
    padding-top: 250px;
    min-width: 460px;
    padding-left: 30px;
    padding-bottom: 42px;
  }
  .slider .service__for-whom {
    padding-bottom: 12px;
  }
  .slider .service__btns {
    flex-direction: row;
    margin-top: 0;
  }
  .slider .service__btns a {
    padding: 11px 29px;
  }
  .slider .service__btns .btns__registr, .slider .service__btns .btns__detailed {
    width: 147px;
  }
  .slider .service__btns .btns__detailed {
    margin-left: 0;
  }
  .slider .service__price {
    padding-top: 17px;
  }
  .slider__img {
    position: absolute;
    width: 460px;
    height: 240px;
    -webkit-clip-path: none;
    clip-path: none;
    left: 0;
    border-radius: 5px 5px 0px 0px;
  }
}
@media (max-width: 570px) {
  .slider__container {
    width: 340px;
    height: 522px;
  }
  .slider__items {
    width: 1360px;
    height: 522px;
  }
  .slider__item {
    width: 340px;
    height: 522px;
  }
  .slider .service {
    padding-top: 185px;
    min-width: 340px;
    padding-left: 23px;
  }
  .slider .service__name {
    font-size: 26px;
    margin-bottom: 6px;
  }
  .slider .service__for-whom,
  .slider .service .list-options {
    font-size: 14px;
  }
  .slider .service__btns {
    gap: 6px;
  }
  .slider .service__btns a {
    padding: 11px 23px;
  }
  .slider .service__btns .btns__registr, .slider .service__btns .btns__detailed {
    width: 137px;
  }
  .slider__img {
    width: 340px;
    height: 170px;
  }
  .slider__btn {
    margin-top: 22px;
    margin-bottom: 35px;
  }
}
.footer {
  background: #08664F;
  padding: 60px 0;
}
.footer__container {
  display: flex;
  align-items: center;
  gap: 172px;
}
.footer__list {
  display: flex;
  gap: 237px;
  align-items: center;
}
.footer__list .nav .menu {
  display: flex;
  gap: 30px;
  list-style: none;
}
.footer__list .nav .menu__item {
  color: #fff;
}
.footer .social__item:not(:last-child) {
  margin-right: 15px;
}

@media (max-width: 1200px) {
  .footer__container {
    gap: 0;
    justify-content: space-between;
    align-items: start;
  }
  .footer__list {
    flex-direction: column;
    align-items: start;
    gap: 50px;
  }
  .footer__list .nav .menu {
    flex-direction: column;
  }
}
@media (max-width: 780px) {
  .footer__list .nav .menu {
    gap: 15px;
  }
}
.pop-up {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(69, 146, 127, 0.9);
  z-index: 20;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
  overflow: hidden;
}
.pop-up.active-form {
  transform: translateY(0);
  opacity: 1;
}
.pop-up__container {
  display: flex;
  width: 100%;
  height: 100%;
}
.pop-up__inner {
  margin: auto;
  width: 500px;
  background: #fff;
  border-radius: 5px;
  padding: 100px 15px;
  text-align: center;
  position: relative;
}
.pop-up__inner p {
  font-size: 28px;
  font-weight: 700;
  color: #08664F;
}
.pop-up__inner input {
  display: block;
  margin: 25px auto 0 auto;
  width: 350px;
  padding: 15px 30px;
  background-color: #e1e1e1;
  border-color: #0DBC91;
  border-radius: 5px;
  font-size: 16px;
}
.pop-up__inner button {
  padding: 14px 30px;
  color: #fff;
  background: #08664F;
  border-radius: 50px;
  font-size: 16px;
  margin-top: 25px;
}
.pop-up__inner button:hover {
  background: #0DBC91;
}
.pop-up__close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
}

html {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  overflow-x: hidden;
  box-sizing: border-box;
}
html body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
html a {
  text-decoration: none;
  color: inherit;
}
html ul {
  padding: 0;
  margin: 0;
}
html button {
  border: none;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
}
html *,
html *::after,
html *::before {
  box-sizing: inherit;
}
html .container {
  max-width: 1155px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
html .btn-header {
  padding: 11px 24px;
  border-radius: 50px;
  font-size: 14px;
}

@media (max-width: 780px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}/*# sourceMappingURL=common.css.map */