.footer{
    background: #08664F;
    padding: 60px 0;

    &__container{
        display: flex;
        align-items: center;
        gap: 172px;
    }

    &__list{
        display: flex;
        gap: 237px;
        align-items: center;

        .nav {
            .menu {
                display: flex;
                gap: 30px;
                list-style: none;
    
                &__item {
                    color: #fff;
                }
            }
        }
    }

    .social{

        &__item:not(:last-child){
            margin-right: 15px;
        }
    }
}

@media (max-width: 1200px){
    .footer{
        &__container{
            gap: 0;
            justify-content: space-between;
            align-items: start;
        }

        &__list{
            flex-direction: column;
            align-items: start;
            gap: 50px;

            .nav {
                .menu {
                    flex-direction: column;
                }
            }
        }
    }
}

@media (max-width: 780px){
    .footer{
        &__list{
            .nav {
                .menu {
                    gap: 15px;
                }
            }
        }
    }
}