.pop-up {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(69, 146, 127, 0.9);
    z-index: 20;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
    overflow: hidden;

    &.active-form {
        transform: translateY(0);
        opacity: 1;
    }

    &__container {
        display: flex;
        width: 100%;
        height: 100%;
    }

    &__inner {
        margin: auto;
        width: 500px;
        background: #fff;
        border-radius: 5px;
        padding: 100px 15px;
        text-align: center;
        position: relative;

        p {
            font-size: 28px;
            font-weight: 700;
            color: #08664F;
        }

        input {
            display: block;
            margin: 25px auto 0 auto;
            width: 350px;
            padding: 15px 30px;
            background-color: #e1e1e1;
            border-color: #0DBC91;
            border-radius: 5px;
            font-size: 16px;
        }

        button {
            padding: 14px 30px;
            color: #fff;
            background: #08664F;
            border-radius: 50px;
            font-size: 16px;
            margin-top: 25px;

            &:hover {
                background: #0DBC91;
            }
        }
    }

    &__close {
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
    }
}