.promo {
    background: #F8FBFA;
    margin-bottom: 100px;

    &__container {
        display: flex;
    }

    &__info {
        color: #364844;
        width: 375px;
        height: 530px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 14px;
        font-size: 36px;
        font-weight: 700;
    }

    &__discription {
        margin: 0;
    }

    &__bottom-img {
        position: relative;

        & img {
            position: absolute;
            top: 0;
            left: 197px;
        }
    }
}

@media (max-width: 1200px) {
    .promo {
        &__info {
            height: 409px;
        }

        &__bottom-img {
            & img {
                left: 105px;
                width: 730px;
            }
        }
    }
}

@media (max-width: 1070px) {
    .promo {
        &__info {
            height: 297px;
        }

        &__bottom-img {
            & img {
                left: 105px;
                width: 530px;
            }
        }
    }
}

@media (max-width: 960px) {
    .promo {
        &__bottom-img {
            & img {
                left: 55px;
            }
        }
    }
}

@media (max-width: 780px) {
    .promo {
        margin-bottom: 50px;

        &__container {
            flex-direction: column-reverse;
        }

        &__info {
            height: 297px;
            margin-top: 435px;
        }

        &__bottom-img {
            & img {
                left: -15px;
                width: 110%;
            }
        }
    }
}

@media (max-width: 570px) {
    .promo {
        &__info {
            margin-top: 310px;
        }
    }
}

@media (max-width: 450px) {
    .promo {
        &__info {
            margin-top: 210px;
            width: 324px;
        }

        &__title {
            font-size: 26px;
        }

        &__discription {
            font-size: 14px;
        }
    }
}

@media (max-width: 375px) {
    .promo {
        &__info {
            margin-top: 250px;
        }

        &__bottom-img {
            & img {
                height: 288px;
            }
        }
    }
}