.slider {
    &__container {
        width: 1140px;
        height: 440px;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 0px 5px 5px 0px;
    }

    &__items {
        width: 4560px;
        height: 440px;
        display: flex;
        position: relative;
        left: 0;
        transition: all ease 1s;
    }

    &__item {
        width: 1140px;
        height: 440px;
        display: flex;
        position: relative;
        left: -15px;
    }

    .service {
        min-width: 613px;
        background: #E2F0EF;
        color: #364844;
        position: relative;
        left: 0;
        top: 0;
        padding-top: 53px;
        padding-left: 63px;
        border-radius: 5px 0px 0px 5px;

        &__name {
            font-weight: 700;
            font-size: 38px;
            line-height: 1.4;
            text-transform: uppercase;
            margin: 0;
        }

        &__for-whom {
            font-weight: 700;
            font-size: 22px;
            line-height: 1.4;
            margin: 0;
            padding-bottom: 16px;
        }

        .list-options {
            font-size: 16px;
            line-height: 1.4;
            padding-left: 15px;


            &__name:not(:last-child) {
                margin-bottom: 3px;
            }

            &__name::marker {
                color: #1FA181;
            }
        }

        &__price {
            font-size: 20px;
            padding: 33px 0px 26px 0px;
            margin: 0;

            span {
                font-size: 16px;
                line-height: 1.5;
                color: #868686;
                padding-left: 16px;
                text-decoration: line-through;
            }
        }

        &__btns {
            margin-top: 10px;

            a {
                padding: 11px 58px;
                border: 1px solid #0DBC91;
                border-radius: 50px;
            }

            .btns {
                &__registr {
                    background: #0DBC91;
                    color: #fff;
                    cursor: pointer;

                    &:hover {
                        background: #00D29F;
                    }
                }

                &__detailed {
                    color: #0DBC91;
                    cursor: pointer;
                    margin-left: 14px;

                    &:hover {
                        background: #0DBC91;
                        color: #fff;
                    }
                }
            }
        }
    }

    &__img {
        position: relative;
        left: -165px;
        -webkit-clip-path: polygon(47px 0, 100% 0, 100% 100%, 165px 100%);
        clip-path: polygon(47px 0, 100% 0, 100% 100%, 165px 100%);
    }

    &__btn {
        display: flex;
        justify-content: center;
        gap: 36px;
        margin-top: 39px;
        margin-bottom: 98px;
    }

    &__next,
    &__prev {
        cursor: pointer;
        position: relative;
        height: 17px;
        top: -9px;

        & svg:hover {
            fill: rgb(69, 146, 127);
        }
    }

    &__division {
        margin: 0;
        color: #C0C0C0;
    }

    &__amount-item {
        color: #000;
    }
}

@media (max-width: 1200px) {
    .slider {
        &__container {
            width: 740px;
            height: 640px;
        }

        &__items {
            width: 3020px;
            height: 640px;
        }

        &__item {
            width: 740px;
            height: 640px;

        }

        .service {
            padding-top: 120px;


            &__btns {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .btns {

                    &__registr,
                    &__detailed {
                        width: 207px;
                    }

                    &__detailed {
                        margin-left: 0;
                    }
                }
            }
        }

        &__img {
            left: -880px;
            -webkit-clip-path: polygon(658px 0, 100% 0, 100% 100%, 804px 100%);
            clip-path: polygon(658px 0, 100% 0, 100% 100%, 804px 100%);
        }
    }
}

@media (max-width: 780px) {
    .slider {
        &__container {
            width: 460px;
            height: 600px;
        }

        &__items {
            width: 1840px;
            height: 600px;
        }

        &__item {
            width: 460px;
            height: 600px;
        }

        .service {
            padding-top: 250px;
            min-width: 460px;
            padding-left: 30px;
            padding-bottom: 42px;

            &__for-whom {
                padding-bottom: 12px;
            }

            &__btns {
                flex-direction: row;
                margin-top: 0;

                a {
                    padding: 11px 29px;
                }

                .btns {

                    &__registr,
                    &__detailed {
                        width: 147px;
                    }

                    &__detailed {
                        margin-left: 0;
                    }
                }
            }

            &__price {
                padding-top: 17px;
            }
        }

        &__img {
            position: absolute;
            width: 460px;
            height: 240px;
            -webkit-clip-path: none;
            clip-path: none;
            left: 0;
            border-radius: 5px 5px 0px 0px;
        }
    }
}

@media (max-width: 570px) {
    .slider {
        &__container {
            width: 340px;
            height: 522px;
        }

        &__items {
            width: 1360px;
            height: 522px;
        }

        &__item {
            width: 340px;
            height: 522px;
        }

        .service {
            padding-top: 185px;
            min-width: 340px;
            padding-left: 23px;

            &__name {
                font-size: 26px;
                margin-bottom: 6px;
            }

            &__for-whom,
            .list-options {
                font-size: 14px;
            }

            &__btns {
                gap: 6px;

                a {
                    padding: 11px 23px;
                }

                .btns {

                    &__registr,
                    &__detailed {
                        width: 137px;
                    }
                }
            }
        }

        &__img {
            width: 340px;
            height: 170px;
        }

        &__btn {
            margin-top: 22px;
            margin-bottom: 35px;
        }
    }
}