.header-bottom {
    height: 43px;
    background: #0DBC91;

    .nav {
        .menu {
            display: flex;
            padding-top: 10px;
            gap: 30px;
            list-style: none;

            &__item {
                color: #fff;
            }
        }
    }
    
    &__btn {
        color: #0DBC91;
        background: #fff;
        width: 197px;
        display: none;

        &:hover {
            background: #0DBC91;
            color: #FFFFFF;
        }
    }
}

@media (max-width: 1200px) {
    .header-bottom {
        & .nav {
            & .menu {
                justify-content: center;
                gap: 60px;
            }
        }
    }
}

@media (max-width: 780px) {
    .header-bottom {
        position: absolute;
        z-index: 3;
        width: 100%;
        height: 100%;
        background: rgba(69, 146, 127, 0.9);
        padding: 48px 0px;
        transform: translateX(-100%);
        transition: transform 1s;

        &__container{
            padding-top: 60px;
        }
        
        .nav {
            .menu {
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-bottom: 40px;
            }
        }

        &.open {
            transform: translateX(0%); 
        }

        &__btn{
            display: block;
            font-size: 20px;
        }
    }
}