.header-top {
    &__container{
        display: flex;
        height: 67px;
        align-items: center;
    }
    
    .menu__btn {
        position: relative;
        width: 37px;
        height: 26px;
        border: none;
        background-color: transparent;
        display: none;

        span {
            position: absolute;
            width: 100%;
            height: 4px;
            background-color: #1FA181;
            left: 0;
            transition: transform 0.5s, opacity 0.5s, background-color 0.5s;

            &:nth-child(1) {
                transform: translateY(-13px);
            }

            &:nth-child(3) {
                transform: translateY(13px);
            }
        }
    }

    .menu__btn.active span {
        &:nth-child(1) {
            transform: translateY(0) rotate(-45deg);
        }

        &:nth-child(2) {
            opacity: 0;
        }

        &:nth-child(3) {
            transform: translateY(0) rotate(45deg);
        }
    }

    .map {
        margin-left: 43px;
        width: 120px;
        font-size: 14px;
        position: relative;

        &::before {
            content: '';
            background-image: url(../images/point.svg);
            left: -23px;
            top: 10px;
            width: 20px;
            height: 20px;
            position: absolute;
        }

        &__adress {
            color: #000;

            span {
                color: #868686;
            }
        }
    }

    .whatsapp {
        margin-left: 500px;
        position: relative;

        &::before {
            content: '';
            background-image: url(../images/whatsapp.svg);
            position: absolute;
            left: -37px;
            top: -2px;
            width: 28px;
            height: 28px;
        }

        &__number {
            color: #000;
        }

        p{
            display: none;
        }
    }
    
    .header-top__btn {
        margin-left: 35px;
        color: #fff;
        background: #0DBC91;

        &:hover {
            background: #00D29F;
        }
    }
}


@media (max-width: 1200px) {
    .header-top {
        &__container{
            justify-content: space-between;
        }
        
        .map {
            margin-left: 0;
        }

        .whatsapp {
            margin-left: 0;
        }

        .header-top__btn  {
            margin-left: 0;
        }
    }
}

@media (max-width: 780px) {
    .header-top {
        background: #F6F6F6;
        .logo {
            width: 62px;
            height: 19px;
        }

        .menu__btn {
            display: block;
        }
    }

    .header-top__btn {
        display: none;
    }
}

@media (max-width: 570px) {
    .header-top {
        .map {
            display: none;
        }

        .whatsapp {
            text-align: right;

            &::before {
                display: none;
            }

             p {
                display: block;
                font-size: 13px;
                font-weight: 400;
                margin: 0;
            }

            &__number {
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
}